body {
    background-color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 14pt;
}

h3 {
    text-align: center;
    color: #0000ff;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task {
    margin-bottom: 10px;
}

.task li {
    border: 1px solid #0000ff;
    padding: 10px;
    background-color: #ffffff;
}

.task li:hover {
    background-color: #d9d9d9;
}

.new-task {
    margin-top: 10px;
}

.new-task form {
    width: 100%;
    align-items: center;
}

.new-task form input {
    /*font-family: 'Comfortaa', cursive;*/
    font-size: 12pt;

    width: 100%;
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid #0000ff;
}

/*.new-task form button {*/
/*    !*font-family: 'Comfortaa', cursive;*!*/
/*    font-size: 12pt;*/

/*    width: 30%;*/
/*    background-color: #ffffff;*/
/*    color: #0000ff;*/
/*    padding: 5px;*/
/*    margin-top: 3px;*/
/*    border: 1px solid #0000ff;*/
/*}*/

.new-task form button {
    /*font-family: 'Comfortaa', cursive;*/
    font-size: 12pt;

    width: 30%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #0000ff;
    padding: 5px;
    /*margin-top: 3px;*/
    border: 1px solid #0000ff;
}
