<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Tasks | To-Do List</title>

  <div th:replace="~{fragments/header :: header-css}"/>

  <script th:inline="javascript" th:src="@{/script/modal-edit.js}"></script>
</head>

<body>

<!--  Header:  -->
<div th:replace="~{fragments/header :: header}"/>

<div class="container">
  <!--  Title: Task list  -->
  <h3>My tasks:</h3>

  <!--  List: Task list  -->
  <div class="tasks">
    <div class="task" th:each="el: ${tasks}">
      <span class="task-text" th:text="${el.text}"/>
      <form th:action="'/api/task/' + ${el.taskId} + '/completed'" method="post">
        <button type="submit" th:text="${el.completed}"/>
      </form>
      <button th:data-el="${el.taskId} + ' ' + ${el.text}" th:onclick="openModal(this.getAttribute('data-el'))"
              th:text="Edit"/>
      <form th:action="'/api/task/' + ${el.taskId} + '/delete'" method="post">
        <button type="submit">
          Delete
        </button>
      </form>
    </div>
  </div>

  <!--  Field: Add new task  -->
  <div class="new-task">
    <form th:action="'/api/task/add'" method="post">
      <input type="hidden" name="uid" style="display: none" th:value="${uid}">
      <input type="text" name="task" placeholder="Enter new task" class="form-input">
      <button type="submit" class="form-btn">Add task</button>
    </form>
  </div>
</div>

<!--  Modal window: Edit task  -->
<div class="edit-modal">
  <div class="edit-modal-content">
    <h4>Edit your task:</h4>
    <span class="modal-task-id" style="display: none"></span>
    <input class="modal-text" type="text" placeholder="Your task">
    <button class="modal-confirm-btn" onclick="sendModal()">Confirm</button>
    <button class="modal-cancel-btn" onclick="closeModal()">Cancel</button>
  </div>
</div>

<!--  Footer:  -->
<!--<div th:insert="blocks/footer :: footer"></div>-->

</body>
</html>
