<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Tasks | To-Do List</title>

  <div th:replace="~{fragments/header :: header-css}"/>
</head>

<div th:replace="~{fragments/header :: header}"/>

<body>
<div class="container">

  <h3>My tasks:</h3>

  <div class="tasks">
    <!-- Список задач -->
    <div class="task" th:each="el: ${tasks}">
      <span th:text="${el.text}"/>
      <form th:action="'/api/task/' + ${el.taskId} + '/completed'" method="post">
        <button type="submit" th:text="${el.completed}"/>
      </form>
      <form th:action="'/api/task/' + ${el.taskId} + '/delete'" method="post">
        <button type="submit">
          Delete
        </button>
      </form>
    </div>
  </div>

  <div class="new-task">
    <!-- Форма для добавления новой задачи -->
    <form action="/api/task/add" method="post">
      <input type="text" name="task" placeholder="Enter new task" class="form-input">
      <button type="submit" class="form-btn">Add task</button>
    </form>
  </div>
</div>

<!--<div th:insert="blocks/footer :: footer"></div>-->

</body>
</html>
