<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-Do List</title>

  <!-- Font style -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
  <div>
    <a href="/">Go to greeting page</a>
  </div>

  <h3>Tasks:</h3>

  <div class="tasks">
    <!-- Список задач -->
    <div class="task" th:each="el: ${tasks}">
      <p th:text="${el.getText()}"/>
      <button th:text="${el.isCompleted()}"/>
      <button>Delete</button>
    </div>
  </div>

  <div class="new-task">
    <!-- Форма для добавления новой задачи -->
    <form action="/tasks" method="post">
      <input type="text" name="task" placeholder="Enter new task" class="form-input">
      <button type="submit" class="form-btn">Add task</button>
    </form>
  </div>
</div>

<!--<div th:insert="blocks/footer :: footer"></div>-->

</body>
</html>
